{# About Page #}
{% extends "halfwayapp/base.html" %} {% block content %} {% load staticfiles %}

<div class="container">
	<div class="row">
		<div class='page-header'>
			<h1>
			About </h1>
		</div>
		<p class="lead">
			 Find a convenient place to meet, safely and securely. Meet Halfway makes it easy to find a place to meet a friend or stranger that's convenient for both of you.
		</p>
        </div>
	<div class="row">
		<div class='col-sm-3 col-sm-offset-1'>
			<h2 class='text-center'>
			<span class="glyphicon glyphicon-home">
			</h2>
			<br>
			<p>
				 Enter your starting point, transit mode, and type of place you want to meet
			</p>
		</div>
		<div class='col-sm-3'>
			<h2 class='text-center'>
			<span class="glyphicon glyphicon-send">
			</span>
			</h2>
			<br>
			<p>
				 Send a link to your friend for them to separately enter their address and transit mode
			</p>
		</div>
		<div class='col-sm-3'>
			<h2 class='text-center'>
			<span class="glyphicon glyphicon-thumbs-up">
			</span>
			</h2>
			<br>
			<p>
				 Discover destinations with roughly equal travel times for both of you
			</p>
		</div>
	</div>
	<div class="row">
		 <p class="lead">
                    Meet Halfway was created by <a href="https://capp.sites.uchicago.edu/">CAPP</a> graduate students Christine Chung, Lauren Dyson, Paul Mack, and Leith McIndewar for <a href="https://www.classes.cs.uchicago.edu/archive/2016/winter/12200-1/">CS122</a> at the University of Chicago. <a href="{% url 'meethalfway:contact' %}">Feel free to drop us a line</a>.
                </p>
	</div>
</div>

{% endblock %}
