{% extends "halfwayapp/base.html" %}

{% block content %}
<div class = "container">
    <div class="row">
    <h1>About</h1> 
    <p class = "lead">Find a convenient place to meet, safely and securely.</p>
    <p>Meet Halfway makes it easy to find a place to meet a friend or stranger that's convenient for both of you.</p>

	<p>Given two starting locations, preferred modes of transit, and a desired type of location (coffe shop, restaurant, park, etc.), Meet Halfway finds a meeting destination with roughly equal travel times for both parties. It's easy to do this without revealing your location to the other person; this way a meeting location can be agreed upon while protecting privacy.</p>
</div>
</div>
{% endblock %}