{% extends "halfwayapp/base.html" %}

{% block content %}
    <header class="business-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <br>
                    <br>
                    <h1 class="tagline text-center">Find a convenient place to meet.</h1>
                </div>
            </div>
        </div>
    </header>
<div class = "container">
    <hr>
    <div class="row">
    <div class="col-sm-8">
        <h2>Create a new meeting</h2>
        <p class="lead">Enter your starting point.</p>
        <form method="post">
        {% csrf_token %}
            <table class='table-condensed'>
            {% for form in forms %}
                {{ form }}
            {% endfor %}
            </table>
        <input type="submit" name="PersonA_submit" value="Submit Address" class="btn btn-success"/>
        </form>
    </div>
    <div class="col-sm-4">
        <h2>Look up a meeting</h2>
        <p class = "lead">Enter your meeting id.</p>
        <form method="post" class="form-horizontal">
        {% csrf_token %}
            <table class="table-condensed">
                {{ trip_id_form }}
            </table>
        <input type="submit" name="Enter_trip_id" value="Submit" class="btn btn-success"/>
        </form>
    </div>
    </div>
</div>
{% endblock %}
