{% extends "halfwayapp/base.html" %}
{% load bootstrap %}

{% block content %}
    <header class="business-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <br>
                    <br>
                    <h1 class="tagline text-center">LET'S MEET HALFWAY</h1>
                    <h4 class='tagline text-center'>Discover convenient places to meet up, safely and securely.</h4>
                </div>
            </div>
        </div>
    </header>
<div class = "container">
    <hr>
    <div class="row">
    <div class="col-sm-8">
        <h2>Create a new meeting</h2>
        <p class="lead">Enter your starting point.</p>
        <div class="row">
        <div class="col-sm-8">
        <form method="post">
        {% csrf_token %}
            <table class='table'>
            {% for form in forms %}
                {{ form|bootstrap }}
            {% endfor %}
            </table>
        <input type="submit" name="PersonA_submit" value="Submit Address" class="btn btn-default"/>
        </form>
    </div>
    </div>
    </div>
    <div class="col-sm-4">
    <div class="panel panel-default">
        <div class="panel-heading"><h4>Already have a meeting started?</h4></div>
        <div class='panel-body'>
        <p>Enter your meeting id to add your address or view results.</p>
        <div class='row'>
        <div class="col-sm-8">
            <form method="post">
            {% csrf_token %}
                <table class="table">
                    {{ trip_id_form|bootstrap }}
                </table>
            <input type="submit" name="Enter_trip_id" value="Submit" class="btn btn-default"/>
            </form>
        </div>
        </div>
    </div>
    </div>
    </div>
    </div>
</div>
{% endblock %}
