{% extends "halfwayapp/base.html" %}
{% load bootstrap %}

{% block content %}
<div class="loader-outer hidden">
    <div class="loader-wrapper"><p>Hold on tight! We're finding the best meeting places for you.</p></div>
    <div class="loader-inner ball-zig-zag">
        <div></div>
        <div></div>
    </div>
</div>

<div class="container" id="part2-container">
    <div class="row">
        <div class='col-sm-12'>
        <div class='page-header'>
            <h1>Your friend has already submitted their address.</h1> 
        </div>
        <p class = "lead">Enter your starting point below.</p>
        <div class="row">
            <div class='col-sm-5' id="part2-form">
                <form method="post">
                {% csrf_token %}
                <table class="table">
                {% for form in forms %}
                    {{ form|bootstrap }}
                {% endfor %}
                </table>
                <input type="submit" name="PersonB_submit" value="Submit Address" class="btn btn-default"/>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}
