{% extends "halfwayapp/base.html" %}
{% load bootstrap %}

{% block content %}
<div class = "container">
    <div class="row">
    <h1>Your friend has already submitted their address.</h1> 
    <p class = "lead">Enter your starting point below.</p>
</div>
</div>
<div class="container">
<div class="row">
    <form method="post" class="form-horizontal">
    {% csrf_token %}
    <table class="table-condensed">
    {% for form in forms %}
        {{ form|bootstrap }}
    {% endfor %}
    </table>
    <input type="submit" name="PersonB_submit" value="Submit Address" class="btn btn-success"/>
</form>
{% endblock %}
