{% extends "halfwayapp/base.html" %}

{% block content %}

{% load staticfiles %}

<div class = "container">
    <div class="row">
        <div class='page-header'>
        <h1>Alright! You're halfway there.</h1>
        </div>
        <p class="lead">Now we just need your friend to enter their information. Send them this code to invite them to add their address:</p>

        <script src="{% static "clipboard/clipboard.min.js" %}"></script>

        <script>
        var clipboard = new Clipboard('.btn');
       </script>

            <!-- Target -->
            <input id="copyid" value="{{uniq}}">
            <!-- Trigger -->
            <button class="btn btn-default" data-clipboard-target="#copyid">
                <span class='glyphicon glyphicon-copy'></span>
                <!-- img src="../static/clipboard/assets/noun_168961_cc.svg" alt="Copy to clipboard" -->
                Copy to clipboard
            </button>
        </br>
        <br>
        <p class='lead'>Or, email them this message:</p>
        <!-- Target -->

        <textarea id="fulltext" rows="4" cols="50">Meet me halfway! Go to www.meethalfway.io/participant_two/{{uniq}} to fill out your address. You can also look up our meeting by pasting {{uniq}} into the meeting finder at www.meethalfway.io
        </textarea>
            <!-- Trigger -->
            <div>
            <button class="btn btn-default" data-clipboard-target="#fulltext">
                <span class='glyphicon glyphicon-copy'></span>
                Copy to clipboard
            </button>
            </div>
            <h3>What now?</h3>
            <a class="btn btn-primary" href="/participant_two/{{uniq}}" role="button">Go to your Meeting</a> or
            <a class="btn-link" href="" role="button">return to the homepage.</a>
        </p>
    </div>
</div>
{% endblock %}
