{% extends "halfwayapp/base.html" %}

{% block content %}

{% load staticfiles %}

<div class = "container">
    <div class="row">
        <div class='page-header'>
        <h2>Alright! You're almost halfway there.</h2>
        </div>
    <div class="row">
        <div class='col-sm-3'>
            <h4 class='text-center'><span class="glyphicon glyphicon-check"></span></h4><h5 class='text-center'>1. Enter your starting point</h5>
        </div>
        <div class='col-sm-3 panel panel-default'>
            <h4 class='text-center'><span class="glyphicon glyphicon-unchecked"></span></h4>
            <h5 class='text-center'>2. Share link with your friend</h5>
        </div>
        <div class='col-sm-3'>
            <h4 class='text-center'><span class="glyphicon glyphicon-unchecked"></span></h4>
            <h5 class='text-center'>3. Friend enters their address</h5>
        </div>
        <div class='col-sm-3'>
            <h4 class='text-center'><span class="glyphicon glyphicon glyphicon-map-marker"></span></h4>
            <h5 class='text-center'>4. View your results</h5>
        </div>
    </div>
    <hr>
        <p class="lead">Send your friend this code to invite them to add their address (make sure you save it for yourself too!):</p>

        <script src="{% static "clipboard/clipboard.min.js" %}"></script>

        <script>
        var clipboard = new Clipboard('.btn');
       </script>

            <!-- Target -->
            <input id="copyid" value="{{uniq}}">
            <!-- Trigger -->
            <button class="btn btn-default" data-clipboard-target="#copyid">
                <span class='glyphicon glyphicon-copy'></span>
                <!-- img src="../static/clipboard/assets/noun_168961_cc.svg" alt="Copy to clipboard" -->
                Copy to clipboard
            </button>
        </br>
        <br>
        <p class='lead'>Or, email them this message:</p>
        <!-- Target -->

        <textarea id="fulltext" rows="4" cols="50">Meet me halfway! Go to www.meethalfway.io/participant_two/{{uniq}} to fill out your address. You can also look up our meeting by pasting {{uniq}} into the meeting finder at www.meethalfway.io
        </textarea>
            <!-- Trigger -->
            <div>
            <button class="btn btn-default" data-clipboard-target="#fulltext">
                <span class='glyphicon glyphicon-copy'></span>
                Copy to clipboard
            </button>
            </div>
            <h3>What now?</h3>
            <a class="btn btn-primary" href="/participant_two/{{uniq}}" role="button">Go to your meeting</a> or
            <a class="btn-link" href="/home.html" role="button">return to the homepage.</a>
        </p>
    </div>
</div>
{% endblock %}
